.homeContainer {
    padding: 20vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.greyContainer {
    min-width: 50vw;
    min-height: 60vh;
    background-color: rgb(0, 0 , 0, 0.5);
    font-family: 'Sen', sans-serif;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vh;
}

.fullPic {
    min-height: 20vh;
    max-height: 40vh;
    filter: brightness(90%);
}

.des {
    min-width: 50%;
    max-width: 70%;
    display: block;
    padding: 3vw;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    text-align: left;
}

.I1 {
    color: salmon;
}

.I2 {
    color: white;
}

.I3 {
    color: lightgreen;
}

.musicPic {
    height: 30vh;
    width: 30vh;
}

.header {
    font-family: 'Sen', sans-serif;
    color: white;
    font-size: 4vh;
    padding: 2vh;
}

.blueContainer {
    min-width: 50vw;
    min-height: 60vh;
    background-color: rgba(0, 132, 255, 0.25);
    font-family: 'Sen', sans-serif;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vh;
}