.homeContainer {
    padding: 20vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.greyContainer {
    min-width: 80vw;
    min-height: 60vh;
    background-color: rgb(255, 255 , 255, 0.25);
    font-family: 'Sen', sans-serif;
    color: white;
}